- name: Get-URL Download the Protected File
  hosts: localhost
  tasks:
    - name: Access the WebSite and make sure the URL is live
      uri:
        url: http://52.224.144.215:8082/repository/chaostest/demoorganisation/testprojectart1/pod/post_action_regex_openshift_pod_kill.yml
        status_code: 401
      register: validateurl

    - name: "INFO: HTTP Response for the URL"
      debug: var=validateurl.msg

    - name: Access the same URL with Basic Authentication and Download the file
      get_url:
        url: http://52.224.144.215:8082/repository/chaostest/demoorganisation/testprojectart1/pod/post_action_regex_openshift_pod_kill.yml
        url_password: hcl@12345@2019
        url_username: admin
        dest: /home/sivakrishnavemuri91/workspace/kraken-demo1/policy/post_action_regex_openshift_pod_kill.yml

    - name: Display the File contents
      shell: >
         cat /home/sivakrishnavemuri91/workspace/kraken-demo1/policy/post_action_regex_openshift_pod_kill.yml
      register: shellout

    - name: "INFO: Display the File Contents"
      debug: var=shellout.stdout_lines
